<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    <settings>
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.entity.TbPerson" alias="TbPerson"/>
    </typeAliases>
    <mappers>
        <mapper resource="sqlmap/PersonMapper.xml"/>
    </mappers> -->
    <!-- 本机、测试打开，线上环境关闭 -->
    <!-- Mybatis 的内置日志 logImpl 可选的值有：SLF4J、LOG4J、LOG4J2、JDK_LOGGING、COMMONS_LOGGING、STDOUT_LOGGING、NO_LOGGING-->
   <!-- <settings>
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>-->
</configuration>